<template>
  <v-container>
    <v-layout row wrap class="mb-2">
      <v-flex xs12>
        <v-carousel>
          <v-carousel-item
            v-for="pose in yogaPoses"
            :src="pose.imageUrl"
            :key="pose.id">
            <div class="title">{{ pose.title }}</div>
          </v-carousel-item>
        </v-carousel>
      </v-flex>
    </v-layout>
    <v-layout row wrap>
      <v-flex xs12 class="text-xs-center">
        <v-btn large router to="/customer/create" class="info">New Customer</v-btn>
      </v-flex>
    </v-layout>
    <v-layout row wrap class="mt-2">
      <v-flex xs12 class="text-xs-center">
        <p>Join yoga, for flexible insurance.</p>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  computed: {
    yogaPoses () {
      return this.$store.getters.featuredPoses
    }
  }
}
</script>
<style scoped>
.title {
  position: absolute;
  bottom: 50px;
  background-color: rgba(0,0,0,0.5);
  color: white;
  font-size: 2em;
  padding: 20px;
}
</style>
