<template>
  <v-container>
    <v-layout row>
      <v-flex xs12 sm6 offset-sm3 mb-2>
        <h2 class="primary--text">New customer signup</h2>
      </v-flex>
    </v-layout>
    <v-layout row>
      <v-flex xs12>
        <v-form v-model="valid" @submit.prevent="onCreateCustomer">
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-select
                name="title"
                label="Title"
                id="title"
                v-model="title"
                :items="titles"
                required></v-select>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-text-field
                name="forename"
                label="Forename"
                id="forename"
                v-model="forename"
                required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-text-field
                name="surname"
                label="Surname"
                id="surname"
                v-model="surname"
                required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-text-field
                name="email"
                label="Email"
                id="email"
                v-model="email"
                required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-select
                name="gender"
                label="Gender"
                id="gender"
                v-model="gender"
                :items="genders"
                required></v-select>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-menu
                ref="menu"
                :close-on-content-click="false"
                v-model="menu"
                :nudge-right="40"
                :return-value.sync="dateOfBirth"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="dateOfBirth"
                  label="Date Of Birth"
                  prepend-icon="event"
                  required
                ></v-text-field>
                <v-date-picker v-model="dateOfBirth" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save(dateOfBirth)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-btn
                  class="primary"
                  :disabled="!formIsValid"
                  type="submit"
                >
                  Create Customer
                </v-btn>
                <v-btn to="/">Cancel</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    menu: false,
    valid: false,
    titles: [
      'Dr',
      'Lady',
      'Lord',
      'Miss',
      'Mr',
      'Mrs',
      'Ms',
      'Mx',
      'Prof'
    ],
    genders: [
      'Female',
      'Male',
      'Unspecified'
    ],
    title: '',
    forename: '',
    surname: '',
    email: '',
    gender: '',
    dateOfBirth: ''
  }),
  computed: {
    formIsValid () {
      return this.title !== '' &&
      this.forename !== '' &&
      this.surname !== '' &&
      this.email !== '' &&
      this.gender !== '' &&
      this.dateOfBirth !== '' &&
      this.dateOfBirth < new Date().toISOString().substr(0, 10)
    }
  },
  methods: {
    onCreateCustomer () {
      const customerData = {
        title: this.title,
        forename: this.forename,
        surname: this.surname,
        email: this.email,
        gender: this.gender,
        dateOfBirth: this.dateOfBirth
      }
      this.$store.dispatch('createCustomer', customerData)
      this.$router.push('/customer')
    }
  }
}
</script>
