<template>
  <v-container>
    <v-layout v-for="customer in customers" :key="customer.CustomerId" class="mb-2">
      <v-flex xs12 sm10 md8 offset-sm1 offset-md2>
        <v-card class="info">
          <v-container fluid>
            <v-layout row>
              <v-flex xs5 sm4 md3>
                <v-img
                  :src="randomYogaPose.imageUrl"
                  height="130px"
                ></v-img>
              </v-flex>
              <v-flex xs7 sm8 md9 class="content">
                <v-card-title primary-title>
                  <div>
                    <h4 class="white--text">{{ customer.title }} {{ customer.forename}} {{ customer.surname }}</h4>
                  </div>
                </v-card-title>
                <v-card-actions>
                  <v-btn flat :to="'/customer/edit/' + customer.customerId">
                    <v-icon left light>arrow_forward</v-icon>
                    Edit Customer
                  </v-btn>
                </v-card-actions>
              </v-flex>
            </v-layout>
          </v-container>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState([
      'customers'
    ]),
    randomYogaPose () {
      return this.$store.getters.randomYogaPose
    }
  },
  mounted () {
    // Load customers
    this.$store.dispatch('loadCustomers')
  }
}
</script>

<style>
.content {
  margin: 0 20px
}
</style>
