<template>
  <v-container>
    <v-layout row wrap>
      <v-flex xs12>
        <v-card>
          <h3 class="primart--text">Edit Customer</h3>
          <v-img
            :src="randomYogaPose.imageUrl"
            height="130px"
          ></v-img>
          <v-card-text>
            <div class="info--text">{{ customer.title }} {{ customer.forename }} {{ customer.surname }}</div>
          </v-card-text>
          <v-layout row>
      <v-flex xs12>
        <v-form v-model="valid" @submit.prevent="onUpdateCustomer">
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-select
                name="title"
                label="Title"
                id="title"
                v-model="customer.title"
                :items="titles"
                required></v-select>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-text-field
                name="forename"
                label="Forename"
                id="forename"
                v-model="customer.forename"
                required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-text-field
                name="surname"
                label="Surname"
                id="surname"
                v-model="customer.surname"
                required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-text-field
                name="email"
                label="Email"
                id="email"
                v-model="customer.email"
                required></v-text-field>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-select
                name="gender"
                label="Gender"
                id="gender"
                v-model="customer.gender"
                :items="genders"
                required></v-select>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
              <v-menu
                ref="menu"
                :close-on-content-click="false"
                v-model="menu"
                :nudge-right="40"
                :return-value.sync="customer.dateOfBirth"
                lazy
                transition="scale-transition"
                offset-y
                full-width
                min-width="290px"
              >
                <v-text-field
                  slot="activator"
                  v-model="customer.dateOfBirth"
                  label="Date Of Birth"
                  prepend-icon="event"
                  required
                ></v-text-field>
                <v-date-picker v-model="customer.dateOfBirth" no-title scrollable>
                  <v-spacer></v-spacer>
                  <v-btn flat color="primary" @click="menu = false">Cancel</v-btn>
                  <v-btn flat color="primary" @click="$refs.menu.save(customer.dateOfBirth)">OK</v-btn>
                </v-date-picker>
              </v-menu>
            </v-flex>
          </v-layout>
          <v-layout row>
            <v-flex xs12 sm6 offset-sm3>
                <v-btn
                  class="primary"
                  :disabled="!formIsValid"
                  type="submit"
                >Save</v-btn>
                <v-btn
                  class="error"
                  v-on:click.native="onDelete"
                >Delete</v-btn>
                <v-btn to="/customer">Cancel</v-btn>
            </v-flex>
          </v-layout>
        </v-form>
      </v-flex>
    </v-layout>
        </v-card>
      </v-flex>
    </v-layout>
  </v-container>
</template>

<script>
import { mapState } from 'vuex'

export default {
  props: [
    'id'
  ],
  data: () => ({
    menu: false,
    valid: false,
    titles: [
      'Dr',
      'Lady',
      'Lord',
      'Miss',
      'Mr',
      'Mrs',
      'Ms',
      'Mx',
      'Prof'
    ],
    genders: [
      'Female',
      'Male',
      'Unspecified'
    ],
    editing: false
  }),
  mounted () {
    this.getCustomer(this.id)
  },
  computed: {
    ...mapState([
      'customer'
    ]),
    randomYogaPose () {
      return this.$store.getters.randomYogaPose
    },
    formIsValid () {
      return this.customer.title !== '' &&
      this.customer.forename !== '' &&
      this.customer.surname !== '' &&
      this.customer.email !== '' &&
      this.customer.gender !== '' &&
      this.customer.dateOfBirth !== '' &&
      this.customer.dateOfBirth < new Date().toISOString().substr(0, 10)
    },
    loading () {
      return this.$store.getters.loading
    }
  },
  methods: {
    onUpdateCustomer () {
      this.$store.dispatch('updateCustomer', this.customer)
      this.$router.push('/customer')
    },
    onDelete () {
      this.$store.dispatch('deleteCustomer', this.customer.customerId)
      this.$router.push('/customer')
    },
    getCustomer () {
      return this.$store.dispatch('getCustomer', this.id)
    }
  }
}
</script>
